*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotam Rounded, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #242424;
}

/* done */
.calculator-grid {
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    border-radius: 0 0 15px 15px;
}

.calculator-grid > .number {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}


.calculator-grid > .number:hover {
    background-color: rgba(255, 255, 255, 0.92);
}
.calculator-grid > .operator, #equalsButton{
    background-color: #FA9F1A;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    color: black;
}
.calculator-grid > .operator:hover{
    background-color: #ffd595;
}
.calculator-grid > #equalsButton:hover{
    background-color: #ffd595;
}

.calculator-grid > .top-row{
    background-color: #adacad;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    color: black;
}
.calculator-grid > .top-row:hover{
    background-color: #e6e6e6;
}


.double-button {
    grid-column: span 2;
}

/* done */
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

/* done */
.output .previous-input {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

/* done */
.output .current-input {
    color: white;
    font-size: 2.5rem;
}

.bottom-right {
    border-radius: 0 0 15px 0;
}

#bottom-left{
    border-radius: 0 0 0 15px;
}

